.fullScreen {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

#map {
    /*border: 3px solid blue;*/
    display: block; /*This eliminates the whitespace after the map*/
}

.moveButton {
    position: absolute;
    background-color: rgba(100, 100, 100, 0.2);
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    display: table;
}

.moveButton:hover {
    background-color: rgba(50, 50, 50, 0.5);
}

.moveButton.tallButton {
    width: 25px;
    height: 150px;
    top: 50%;
    margin-top: -75px;
}

.moveButton.wideButton {
    width: 150px;
    height: 25px;
    left: 50%;
    margin-left: -75px;
}

.moveButtonArrow {
    display: table-cell;
    vertical-align: middle;
    cursor:default;
}

#westButton {
    left: 0;
}

#eastButton {
    right: 0;
}

#northButton {
    top: 0;
}

#southButton {
    bottom: 0;
}

/*source:  http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting*/
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  http://csshexagon.com/  is super awesome and I shamelessly use their generated CSS   */

.hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: forestgreen;
    margin: 28.87px 0;
    border-left: solid 3px #004800;
    border-right: solid 3px #004800;
    transition: opacity 1.5s
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71px;
    height: 70.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 11.6447px;
    transition: opacity 1.5s
}

.hexagon:before {
    top: -35.3553px;
    border-top: solid 4.2426px #004800;
    border-right: solid 4.2426px #004800;
}

.hexagon:after {
    bottom: -35.3553px;
    border-bottom: solid 4.2426px #004800;
    border-left: solid 4.2426px #004800;
}

.loadingSpin {
    animation: spin 2s infinite ease-in-out;
}

@keyframes spin {
    0%  {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.centeredTotallyOnPage {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loadingHex {
    z-index: 2;
}

#loadingOverlay {
    overflow: hidden;
    transition: opacity 1.5s;
}

.overlay::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-color: lightsteelblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    transition: opacity 1.5s;
}

#loadingText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 3;
    transition: top 1s, opacity 0.7s;
    transition-timing-function: cubic-bezier(.78,-0.07,.71,.07);
}

#menu {
    display: block;
    float: left;
    position: absolute;
    top:0;
    right:0;
    height: 30px;
}

.menuButton {
    width: 36px;
    height :40px;
    position: relative;
    float:right;
    margin-top: -10px;
    transition: margin-top .3s, background-color .3s;
}

.menuButton:hover {
    margin-top: 0px;
}

.menuButtonIcon {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 1px;
    left: 4px;
    background-size:100%;
    z-index: 5;
}

#paletteIcon {
    background-image: url("../assets/palette_icon.png");
}

#labelIcon {
    background-image: url("../assets/label_icon.png");
}

#iconIcon {
    background-image: url("../assets/icon_icon.png");
}

#brushIcon {
    background-image: url("../assets/brush_icon.svg");
}

#eraserIcon {
    background-image: url("../assets/eraser_icon.png");
}

#mycolorpicker {
    position: fixed;
    right: -400px;
    top: 40px;
    transition: right 0.6s;
}

#colorDisplay {
    top: 11px;
    left: 2px;
    border-radius: 50%;
    width: 28px;
    height :28px;
    position: relative;
    background-color: #FF0000;
    z-index: 2;
}

.div {
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}